html {
  height: 100%;
}

.para {
  color: green;
}

.nav {
  background: rgb(167, 217, 255);
  height: 80px;
  display: flex;
}

.nav ul {
  padding: 0px;
  margin: 0px;
  text-align: center;
  display: inline-block;
  vertical-align: top;
}

.logo {
  float: left;
  margin: 10px;
  width: auto;
  height: auto;
}

.navButton {
  display: inline-block;
  background-color: transparent;
  width: 100px;
  height: 80px;
  border: none;
  /* margin-left: 150px; This moves the position of the buttons */
  transition: 0.6s;
  position: center;
}

.navButton:hover {
  background-color: rgb(106, 106, 106);
  /* background: transparent; */
  box-shadow: 0 0 60px 5px hsla(0, 0%, 100%, 0.555);
  transition: 0.6s;
}

