html {
  height: 100%;
}

.para {
  color: green;
}

.nav {
  background: transparent;

  padding-top: 1px;
  position: relative;
  text-align: left;
}

.logoButton {
  background-color: transparent;
  border: 1;
  width: 40px;
  height: 40px;
  position: relative;
}

.logoButton img {
  position: absolute;
  width: 30px;
  height: 30px;
  top:50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.navButton {
  position: relative;
  background-color: transparent;
  border: 1;
  padding: 15px;
  padding-left: 20px;
  padding-right: 20px;
  transition: 0.6s;
}

.navButton:hover {
  background-color: rgb(106, 106, 106);
  /* background: transparent; */
  box-shadow: 0 0 60px 5px hsla(0, 0%, 100%, 0.555);
  transition: 0.6s;
}
