html {
  height: 100%;
}

.ListPage, .ContactPage {
  padding-top: 90px;
}


.navbar {
  /* background: #3C2A21; */
  max-height: 100px;
  /*display: flex;*/
  background-color: transparent;
  /*margin: 0 auto;*/
  width: 100%;
}

.navbar table {
  padding: 0px;
  text-align: center;
  /*display: inline-block;*/
  background-color: rgb(255, 255, 255);
  vertical-align: top;
  position: fixed;
  left: 0%;
  z-index: 10;
  height:60px;
  width: 100%;
  margin: 0 auto;
}

.splitter {
  width: 1200px;
}

.logo {
  float: left;
  margin: 10px;
  width: auto;
  height: auto;
}

/* Come here and make changes to the button because there is still some styling left to do */
.navLogo { 
  display: inline-block;
  background-color: transparent;
  border: none;
  /* margin-top: 10px; */
  max-height: 50px;
  max-width: 50px;
  /* margin-left: 150px; This moves the position of the buttons */
  transition: 0.6s;
  position: center;
}

.navLogo:hover{
  max-height: 53px;
  max-width: 53px;
  transition: .4s;
}

.navButton {
  display: inline-block;
  background-color: transparent;
  width: 90px;
  height: 50px;
  border: none;
  /* margin-left: 150px; This moves the position of the buttons */
  transition: 0.6s;
  position: center;
  font-size: 22px;
}

.centerNav {
  margin: 0 auto;
}

.navButton:hover {
  /* background-color: rgb(106, 106, 106, 0.5); 0.5 indicates transparency */
  /* background: transparent; */
  /*box-shadow: 0 0 60px 5px hsla(0, 0%, 100%, 0.555);*/
  font-size: 24px;
  transition: 0.6s;
  /*clip-path: inset(29% 9% 27% 8%);*/
}

.content {
  height: 100vh;
}

.homeLogo {
  height: 30vh;
}

.text-content {
  position: absolute;
  top: 30%;
  left: 50%;
  padding: 5px 15px;
  transform: translate(-50%, -50%);
  /*background: gray;*/
  color: white;
  border-radius: 20px;
  font-size: 50px;
}

.logo-content {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 5px 15px;
  transform: translate(-50%, -50%);
  color: white;
  border-radius: 20px;
  font-size: 50px;
}

.title {
  position: absolute;
  top: 50%;
  left: 50%;
}

body {
  background-color: white;
}

.about {
  
  text-align: center;
  
}

.btn {
  -webkit-border-radius: 7;
  -moz-border-radius: 7;
  border-radius: 7px;
  -webkit-box-shadow: 0px 0px 20px #666666;
  -moz-box-shadow: 0px 0px 20px #666666;
  box-shadow: 0px 0px 20px #666666;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  background: #000000;
  /* padding: 10px 60px 10px 60px; */
  padding: .5vw 3vw .5vw 3vw;
  text-decoration: none;
  position: relative;
  right: 0;
  top: 80%;
  transition: 0.6s;
}

.btn:hover {
  background: #808080;
  text-decoration: none;
  transition: 0.6s;
}

.homedivider {
  background: #000000;
  height: 10px;
}

h1 {
  color: black;
}

p {
  color: black;
}

.about-table {
  color: black;
}

th {
  border: transparent;
  text-align: center;
  padding: 8px;
  font-size: 18px;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 20%;
  position: relative;
  margin: 0 auto;
  color: white;
}

.aboutTable {
  position: relative;
  top: 90%;
  color: white;
}

.options {
  border-radius: 25px;
  background-color: #000000;
  width: 15vw;
  height: 20vh;
  position: fixed;
  transform: translate(2vw, 30vh);
}

.options select {
  width: 10vw;
  margin: auto;
}

#contactpic {
  width: 30vw;
  border-radius: 5vw;
}



.options h1 {
  position: fixed;
  bottom: 20vh;
}

.options-items {
  position: relative;
  top: 30%;
}

.ConLink {
  color: white;
  text-decoration: none;
}

.contactForm {
  height: 100vh;
  background-image: url('./car-images/new-new.jpg');
}

.carList {
  color: black;
  position: relative;
  top: 20vh;
}

.contactTable {
  background-color: white;
  position: relative;
  top: 25vh;
  box-shadow: 1px 2px 23px 9px rgba(0,0,0,0.75);
  -webkit-box-shadow: 1px 2px 23px 9px rgba(0,0,0,0.75);
  -moz-box-shadow: 1px 2px 23px 9px rgba(0,0,0,0.75);
}

.carList td {
  font-family: arial, sans-serif;
  border: 2px solid black;
  border-collapse: collapse;
  width: 20%;
  position: relative;
  margin: 0 auto;
}

.carList img {
  height: 20vh;
  margin: 0;
}

.product td {
  border: none;
  color: black;
}

header {
  padding: 1rem 0;
}

.main-content {
  margin-top: 2rem;
}

.product {
  border: 1px solid #ccc;
  border-radius: 1vw;
  padding: 1rem 0;
  margin: 1rem auto;
  text-align: center;
  width: 60vw;
  position: relative;
}

.product img {
  border-radius: 1vw;
}

.product div {
  display: inline-block;
}

.product h1 {
  font-size: 100%;
}

@media only screen and (max-width: 713px) {
  .product-detail {
    padding: 0 2rem;
    width: 30%;
    position: relative;
    margin-top: 30px;
    top: 5vh;
  }
  
  .product-price {
    font-weight: bold;
    font-size: 140%;
    width: 20%;
    position: relative;
    margin-top: 50px;
  }

}

.product-detail {
  padding: 0 2rem;
  width: 30%;
  position: relative;
  margin-top: 30px;
  bottom: 5vh;
}

.ChatWindow {
  position: fixed;
  transform: translate(100vw, 100vh);
  z-index: 10;
}

.product-price {
  font-weight: bold;
  font-size: 140%;
  width: 20%;
  position: relative;
  margin-top: 30px;
  bottom: 5vh;
}

.product-items {
  width: 100%;
}

.collapsible {
  background-color: #777;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active, .collapsible:hover {
  background-color: #555;
}

.collapseContent {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}